<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="Modals.closeEmployeesContainer()">x</button>
    <h4 class="modal-title">
        <span data-ng-if="modalType ==='add'">Add New Employee</span>
        <span data-ng-if="modalType ==='update'">Update Employee</span>
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="p-20">
                <form name="addEditEmployeesForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="EmployeeNumber">Employee Number<span class="text-danger">*</span></label>
                                <input type="text" name="EmployeeNumber" parsley-trigger="change" required placeholder="Enter EmployeeNumber" class="form-control" data-ng-model="$parent.modEmployeesObj.EmployeeNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="FullName">FullName<span class="text-danger">*</span></label>
                                <input type="text" name="FullName" parsley-trigger="change" required placeholder="Enter FullName" class="form-control" data-ng-model="$parent.modEmployeesObj.FullName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NIDN">NIDN<span class="text-danger">*</span></label>
                                <input type="text" name="NIDN" parsley-trigger="change" required placeholder="Enter NIDN" class="form-control" data-ng-model="$parent.modEmployeesObj.NIDN">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NIP">NIP<span class="text-danger">*</span></label>
                                <input type="text" name="NIP" parsley-trigger="change" required placeholder="Enter NIP" class="form-control" data-ng-model="$parent.modEmployeesObj.NIP">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="HP">HP<span class="text-danger">*</span></label>
                                <input type="text" name="HP" parsley-trigger="change" required placeholder="Enter HP" class="form-control" data-ng-model="$parent.modEmployeesObj.HP">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="StatusId">Status<span class="text-danger">*</span></label>
                                <input type="text" name="Status" parsley-trigger="change" required placeholder="Enter Status" class="form-control" data-ng-model="$parent.modEmployeesObj.StatusId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DateofBirth">DateofBirth<span class="text-danger">*</span></label>
                                <input type="text" name="DateofBirth" parsley-trigger="change" required placeholder="Enter DateofBirth" class="form-control" data-ng-model="$parent.modEmployeesObj.DateofBirth">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="GenderId">Gender<span class="text-danger">*</span></label>
                                <input type="text" name="GenderId" parsley-trigger="change" required placeholder="Enter Gender" class="form-control" data-ng-model="$parent.modEmployeesObj.Gender">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="BloodGroupId">BloodGroup<span class="text-danger">*</span></label>
                                <input type="text" name="BloodGroupId" parsley-trigger="change" required placeholder="Enter BloodGroup" class="form-control" data-ng-model="$parent.modEmployeesObj.BloodGroup">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ReligionId">Religion<span class="text-danger">*</span></label>
                                <input type="text" name="Religion" parsley-trigger="change" required placeholder="Enter Religion" class="form-control" data-ng-model="$parent.modEmployeesObj.Religion">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="MaritalStatusId">Marital Status<span class="text-danger">*</span></label>
                                <input type="text" name="MaritalStatus" parsley-trigger="change" required placeholder="Enter MaritalStatus" class="form-control" data-ng-model="$parent.modEmployeesObj.MaritalStatus">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NationalityId">Nationality<span class="text-danger">*</span></label>
                                <input type="text" name="Nationality" parsley-trigger="change" required placeholder="Enter Nationality" class="form-control" data-ng-model="$parent.modEmployeesObj.Nationality">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PhoneNumber">Phone Number<span class="text-danger">*</span></label>
                                <input type="text" name="PhoneNumber" parsley-trigger="change" required placeholder="Enter PhoneNumber" class="form-control" data-ng-model="$parent.modEmployeesObj.PhoneNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="LandLineNumber">Land Line Number<span class="text-danger">*</span></label>
                                <input type="text" name="LandLineNumber" parsley-trigger="change" required placeholder="Enter LandLineNumber" class="form-control" data-ng-model="$parent.modEmployeesObj.LandLineNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DateofJoining">Date of Joining<span class="text-danger">*</span></label>
                                <input type="text" name="DateofJoining" parsley-trigger="change" required placeholder="Enter DateofJoining" class="form-control" data-ng-model="$parent.modEmployeesObj.DateofJoining">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NoOfYearsOfService">No Of Years Of Service<span class="text-danger">*</span></label>
                                <input type="text" name="NoOfYearsOfService" parsley-trigger="change" required placeholder="Enter No Of Years Of Service" class="form-control" data-ng-model="$parent.modEmployeesObj.NoOfYearsOfService">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="IncludeInPayroll">IncludeInPayroll<span class="text-danger">*</span></label>
                                <input type="text" name="IncludeInPayroll" parsley-trigger="change" required placeholder="Enter IncludeInPayroll" class="form-control" data-ng-model="$parent.modEmployeesObj.Description">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DepartmentId">Department<span class="text-danger">*</span></label>
                                <input type="text" name="Department" parsley-trigger="change" required placeholder="Enter Department" class="form-control" data-ng-model="$parent.modEmployeesObj.DepartmentId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="IsActive">Active<span class="text-danger">*</span></label>
                                <input type="text" name="IsActive" parsley-trigger="change" required placeholder="Enter Active" class="form-control" data-ng-model="$parent.modEmployeesObj.Active">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DocumentMasterId">Document Master Id<span class="text-danger">*</span></label>
                                <input type="text" name="DocumentMasterId" parsley-trigger="change" required placeholder="Enter DocumentMasterId" class="form-control" data-ng-model="$parent.modEmployeesObj.DocumentMasterId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Achievements">Achievements<span class="text-danger">*</span></label>
                                <input type="text" name="Achievements" parsley-trigger="change" required placeholder="Enter Achievements" class="form-control" data-ng-model="$parent.modEmployeesObj.Achievements">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PANNumber">PAN Number<span class="text-danger">*</span></label>
                                <input type="text" name="PAN Number" parsley-trigger="change" required placeholder="Enter PAN Number" class="form-control" data-ng-model="$parent.modEmployeesObj.PANNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PFNumber">PF Number<span class="text-danger">*</span></label>
                                <input type="text" name="PF Number" parsley-trigger="change" required placeholder="Enter PF Number" class="form-control" data-ng-model="$parent.modEmployeesObj.PFNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="EmployeeLastDate">Employee Last Date<span class="text-danger">*</span></label>
                                <input type="text" name="EmployeeLastDate" parsley-trigger="change" required placeholder="Enter Employee Last Date" class="form-control" data-ng-model="$parent.modEmployeesObj.EmployeeLastDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="IsEmploymentConfirmed">IsEmploymentConfirmed<span class="text-danger">*</span></label>
                                <input type="text" name="IsEmploymentConfirmed" parsley-trigger="change" required placeholder=" " class="form-control" data-ng-model="$parent.modEmployeesObj.IsEmploymentConfirmed">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="IsUnderProbation">Is Under Probation<span class="text-danger">*</span></label>
                                <input type="text" name="IsUnderProbation" parsley-trigger="change" required placeholder="Enter IsUnderProbation" class="form-control" data-ng-model="$parent.modEmployeesObj.IsUnderProbation">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ProbationEndDate">Probation End Date<span class="text-danger">*</span></label>
                                <input type="text" name="ProbationEndDate" parsley-trigger="change" required placeholder="Enter ProbationEndDate" class="form-control" data-ng-model="$parent.modEmployeesObj.ProbationEndDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ReportingManagerId">Reporting ManagerId<span class="text-danger">*</span></label>
                                <input type="text" name="ReportingManagerId" parsley-trigger="change" required placeholder="Enter ReportingManagerId" class="form-control" data-ng-model="$parent.modEmployeesObj.ReportingManagerId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ApplyTax">Apply Tax<span class="text-danger">*</span></label>
                                <input type="text" name="ApplyTax" parsley-trigger="change" required placeholder="Enter ApplyTax" class="form-control" data-ng-model="$parent.modEmployeesObj.ApplyTax">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fee_name">Invitation Sent<span class="text-danger">*</span></label>
                                <input type="text" name="InvitationSent" parsley-trigger="change" required placeholder="Enter InvitationSent" class="form-control" data-ng-model="$parent.modEmployeesObj.InvitationSent">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="EmailId">Email<span class="text-danger">*</span></label>
                                <input type="text" name="EmailId" parsley-trigger="change" required placeholder="Enter EmailId" class="form-control" data-ng-model="$parent.modEmployeesObj.EmailId">
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>        
    </div>    
</div>

        
<div class="modal-footer"></div>
<div class="form-group m-b-0 text-right">
    <button class="btn btn-teal btn-bordered waves-light waves-effect w-sm m-b-5" data-ng-click="updateEmployeesDetails(addEditEmployeesForm)" data-ng-if="modalType ==='update'">
        Save Details
    </button>
    <button class="btn btn-teal btn-bordered waves-light waves-effect w-sm m-b-5" data-ng-click="addEmployeesDetails(addEditEmployeesForm)" data-ng-if="modalType ==='add'">
        Add Details
    </button>
    <button type="button" class="btn btn-default btn-bordered waves-effect w-md m-b-5" data-ng-click="Modals.closeEmployeesContainer()">Close</button>
</div>
